@import 'compass';

/*Clearfix*/
.cf:before,
.cf:after {content: " ";display: table;}
.cf:after {clear: both;}
.cf {*zoom: 1;}

/*CSS*/

/*Universal*/
*, html{font-family: 'Lato', sans-serif;}
.nopadd{padding: 0;}
.norad{border-radius: 0;}

/*Floats*/
.fr{float: right;}
.fl{float: left;}

/*Font-Size*/
.font100{font-size: 100px;}
.font80{font-size: 80px;}
.font60{font-size: 60px;}
.font40{font-size: 40px;}
.font30{font-size: 30px;}
.font20{font-size: 20px;}
.font18{font-size: 18px;}
.font16{font-size: 16px;}
.font14{font-size: 14px;}
.font12{font-size: 12px;}
.font10{font-size: 10px;}

/*Font Styles*/
.uppercase{text-transform: uppercase;}


/*Basic Colors*/
.white{color: #fff;}
.black{color: #000;}
.red{color: red;}
.pink{color: deeppink;}
.maroon{color: #E26F6A;}

@media only screen and (min-width:20px) and (max-width:767px){
    .fl, .fr{float: none;clear: both;}

    .font100{font-size: 50px;}
    .font80{font-size: 40px;}
    .font60{font-size: 30px;}
    .font40{font-size: 20px;}
    
    .mobhide{display: none;}
}

/*Keyframes*/

/*Move Down Animation*/
@include keyframes(pulse){
    0%, 100% {margin-bottom:15px; }
    50% {margin-bottom:0px;}    
}
/*Move Down Animation End*/

/*OverLay*/
/*Cube Loading Animation*/
@include keyframes(cubes){
    0%, 10%{opacity: 0;transform: perspective(101px) rotateX(-180deg);}
    25%, 75%{opacity: 1; transform: perspective(101px) rotateX(0deg)}
    90%, 100%{opacity: 0; transform: perspective(101px) rotateY(180deg);}
}
.overlay{background: #fff;height: 100%;width: 100%;left: 0;top: 0;position: fixed;z-index: 1000;}
.loader{height: 54px;width: 54px;left: 50%;top: 50%;position: relative;transform: translate(-50%, -50%) rotateZ(45deg);
    .cube{float: left;height: 50%;width: 50%;position: relative;transform: scale(1.1);}
    .cube:before{@include animation(cubes 2.76s linear 0s both infinite running); background-color: #1e1e1e; content: ""; height: 100%;width: 100%; left: 0;top: 0; position: absolute; transform-origin: 100% 100% 0;}
    .c2{transform: scale(1.1) rotateZ(90deg)}
    .c3{transform: scale(1.1) rotateZ(180deg)}
    .c4{transform: scale(1.1) rotateZ(270deg)}
    .c2:before{@include animation-delay(.35s)}
    .c3:before{@include animation-delay(.69s)}
    .c4:before{@include animation-delay(1.04s)}
}

/*General*/
.logo{
    i{color: #50C0A0;}    
}
.toTop{position: fixed; height: 30px;width: 30px;bottom: 5px;right: 5px; background: #000; opacity: .5;text-align: center;padding: 5px;color: #fff;z-index: 999;display: none;}
/*Main Nav*/
.navbar-toggle{margin-top: 20px;}
.nav-custom{margin-bottom: 0;background: rgba(255, 255, 255, 1);border: none;/*@include box-shadow(#ccc 0 0 10px);*/
    a{color: #000 !important;}
}
.nav-cust-ul > li > a:focus,
.nav-cust-ul > li > a:hover{background:#50C0A0!important; color: #fff !important;}
a.mPS2id-highlight{background:#50C0A0!important; color: #fff !important;}

/*Sections*/
html, body {width: 100%;height: 100%;}
.wrapper{min-height: 100%;width: 100%;position: relative;}

/*Home - Search*/
.home {background: url("../assets/bg-search.jpg") no-repeat fixed center top;position: relative;background-size: cover;
    &:before{content: "";position: absolute;top: 0;left: 0; height: 100%;width: 100%;background: url(../assets/grid.png);}
    .form_ico{position: absolute;top: 37%;right: 25px;cursor: pointer;}
    .toDown{display: block;width:50px; height: 50px; text-align: center; background: rgba(255,2555,255,0.7);position: absolute;left:50%;bottom: 10px;padding:16px;z-index: 999;color:#000!important;margin-left: -25px;z-index: 9;@include animation(pulse 2s infinite)}
    .homeCont{padding: 5% 0; min-height: 100%;
        .wlcm-txt{padding: 8% 3%;color:rgba(255,255,255,1);font-weight: bold;
            h1{font-weight: bold;}
        }
    }
}

/*Home - Search End*/

/*Tools - Cloud*/
.toolsCont{padding: 5% 0; min-height: 100%;
    h1{color: #50C0A0;font-weight: bold;display: inline-block;
        &:after{background: #000;content: "";display: block;height: 5px;margin: 10px auto;width: 80px;}
    }
    .cloud{padding: 60px 15px;
        .cloud-ul{margin: 0; padding: 2px; line-height: 3em; text-align: center; 
            li{display: inline;
                a{padding: 3px; }
                a.c1 { font-size: 0.7em; font-weight: 100; }
                a.c2 { font-size: 0.8em; font-weight: 200; }
                a.c3 { font-size: 0.9em; font-weight: 300; }
                a.c4 { font-size: 1.0em; font-weight: 400; }
                a.c5 { font-size: 1.2em; font-weight: 500; }
                a.c6 { font-size: 1.4em; font-weight: 600; }
                a.c7 { font-size: 1.6em; font-weight: 700; }
                a.c8 { font-size: 1.8em; font-weight: 800; }
                a.c9 { font-size: 2.2em; font-weight: 900; }
                a.c10 { font-size: 2.5em; font-weight: 900; }
            }
        }
    }
}
/*Tools - Cloud End*/

/*About*/
.about{background: url(../assets/bg-team.png) no-repeat fixed center top;background-size: cover;
    .aboutCont{padding: 5%; min-height: 100%;
        h1{color: #fff;font-weight: bold;display: inline-block;
            &:after{background: #000;content: "";display: block;height: 5px;margin: 10px auto;width: 80px;}
        }
        .about-content{padding: 30px 15px;}
        .about-team{padding: 50px 15px}
    }
}
/*About End*/

/*Participate*/
.participate{
    .partCont{padding: 5%; min-height: 100%;
        h1{color: #50C0A0;font-weight: bold;display: inline-block;
            &:after{background: #000;content: "";display: block;height: 5px;margin: 10px auto;width: 80px;}
        }
        .mailing-list{padding: 30px 15px;
            i{position: absolute;top: 4%;right: 20px;cursor: pointer;}
        }        
    }
}

/*Participate End*/

/*Contact*/
.contact{background: url(../assets/bg-team.png) no-repeat fixed center top;background-size: cover;
    .contactCont{padding: 5%; min-height: 100%;
        h1{color: #fff;font-weight: bold;display: inline-block;
            &:after{background: #000;content: "";display: block;height: 5px;margin: 10px auto;width: 80px;}
        }
        .mailing-list{padding: 30px 15px;
            i{position: absolute;top: 4%;right: 20px;cursor: pointer;}
        }        
    }
    .social-list{padding: 150px 0;
        .socialMe{
             li{display: inline-block;font-size: 30px;margin-right: 25px;margin-bottom: 20px;
                a{color: #fff; border: 1px solid;@include border-radius(50%);display: block;height: 60px;line-height: 60px;width: 60px;@include transition(all .5s ease);
                    &.facebook:hover{background: #3B5998;color: #fff;}
                    &.twitter:hover{background: #55ACEE;color: #fff;}
                    &.linkedin:hover{background: #007BB5;color: #fff;}
                    &.google-plus:hover{background: #E02F2F;color: #fff;}
                    &.instagram:hover{background: #316699;color: #fff;}
                    &.github:hover{background: #181616;color: #fff;}
                }
            }
        }
    }
}


/*Contact End*/